*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #1d3557;
}
main{
    background-color: #f1faee;
    min-height: calc(100vh - 88px);
}
.div1{
    min-height: 40px;

}

.width{
    min-height: 50px;
}
footer{
    background-color: #1d3557;
}