*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #1d3557;
}
main{
    background-color: #f1faee;
    min-height: calc(100vh - 136px);
}
.div1{
    min-height: 40px;
    width: 70px;

}

.width{
    min-width: 50px;
}
footer{
    background-color: #1d3557;
}
.card1{
    min-height: 80px;
    border: 1px solid #1d3557;
    padding: 25px 35px;
}

#original-card{
    background-color: #1d3557;
    color: white;
}