* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(1.jpg);
    color: white;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;

}

.color {
    color: #f57631;
}

.font-P {
    font-size: 34px;
}

.m-a {
    margin: 40px;
    padding-top: 20px;
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

#search{
    width: 100px;
    height: 100%;
    border: #f57631 3px solid;
    background-color: transparent;
}
.search{
    height: 100%;
    background-color: #f57631;
    color: white;
    border: none;
    border-radius: 3px ;
    width: 50px;
    margin-left: -7px;
}
.web-develop{
    margin-top: 10%;
    margin-left: 40px;
    width: 75%;
}
#btn-join{
    background-color: #f57631;
    border:none;
    padding: 4px 20px;
    border-radius: 4px;
}
#log{
    display:flex ;
    min-width: 50%;
    justify-content: flex-end;
    align-content: center;
    padding: 10%;
}
#login{
    display: flex;
    justify-items: center;
    min-width: 50%;
    background-color: #000000c0;
    min-height: 250px;
    border-radius: 7px;
}
#web{
    display:flex;
   justify-content: flex-start;
}
#back{
    background-color: white;
    color: #f57631;
    font-size: 20px;
    text-align: center;
    border-radius: 6px;
}
#here{
    display: inline-block ;
    width:95%;
    padding: 10px 10px;
}
.pad{
    margin-top: 10px;
}
.bor{
    border: none;
    border-bottom: 2px solid #f57631;
    background: transparent;
    color: white;
}
#btn-l{
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
    background-color: #f57631;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}
#pad{
    text-align: center;
}
#sign{
    text-decoration: none;
    color: #f57631;
}
.font{
    font-size: 10px;
    text-align: center;
}
.awesome{
    display: flex;
    justify-content: center;
}
.chad{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}